<footer class="footer">
    <div class="container">
        <div class="footer-content footer-top">
            <div class="footer-col">
                <a href="index.html" class="footer-logo footer-logo-link">
                    <img src="images/unnamed.PNG?v=1" alt="LTREE" class="footer-logo-img">
                </a>
                <p class="footer-description">대표이사 : 장정수    |    서울특별시 강남구 봉은사로 33길 5, 5층   </p>
                <p class="footer-description">TEL 02-6956-6161    |    FAX 02-6919-2846        </p>
            </div>
            <div class="footer-links-wrap">
                <ul class="footer-links footer-links--row">
                    <li><a href="about/about-ltree.html">회사소개</a></li>
                    <li><a href="recruitment/recruitment.html">인재채용</a></li>
                    <li><a href="index.html#contact">문의하기</a></li>
                </ul>
            </div>
            <!-- <div class="footer-col">
                <h4 class="footer-title">바로가기</h4>
                <ul class="footer-links">
                    <li><a href="business/smart-logistics.html">스마트 물류</a></li>
                    <li><a href="about/about-ltree.html">회사소개</a></li>
                    <li><a href="recruitment/recruitment.html">인재채용</a></li>
                    <li><a href="support/support-notice.html">고객지원</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 class="footer-title">서비스</h4>
                <ul class="footer-links">
                    <li><a href="business/smart-logistics.html">스마트 물류</a></li>
                    <li><a href="support/support-tech.html">기술지원</a></li>
                    <li><a href="index.html#contact">문의하기</a></li>
                </ul>
            </div> -->
            <!-- <div class="footer-col">
                <h4 class="footer-title">Contact Info</h4>
                <ul class="footer-contact">
                    <li><i class="fas fa-phone-alt"></i> 123-456-7890</li>
                    <li><i class="fas fa-envelope"></i> info@mbremodeling.com</li>
                    <li><i class="fas fa-map-marker-alt"></i> Los Angeles, CA 90001</li>
                </ul>
            </div> -->
        </div>
        <div class="footer-bottom"><p>&copy; Copyrights©LTREE, Inc. ALL RIGHTS RESERVED.</p></div>
    </div>
</footer>
